#layout{
  display: flex;
  width: 60vw;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

#body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url('../assets/img1.png');
}
